/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #b8552e;
  }
  
  header {
    background-color: #b8552e;
    padding: px;
  }
  
  header h1 {
    color: #fff;
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    background-color: #dfaf14;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #ffffff;
    margin-top: 0;
  }
  
  h3 {
    color: #000000;
    margin-top: 0;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #fc0505;
    text-decoration:dotted;
    border-radius: 5px;
  }
  
  .download-link:hover {
    background-color: #000;
  }
  